@import url('https://fonts.googleapis.com/css?family=Mukta:300,400,500,600,700,800|Oswald:200,300,400,500,600,700|Roboto:400,500,700,900&subset=cyrillic,cyrillic-ext,devanagari,greek,greek-ext,latin-ext,vietnamese');
:root{
	--darkblack:#2d2d32;
	--lightblack:#35353a;
	--yellow:#f9bf26;
	--gray:#999;
	--white:#fff;
	--black:#262627;

}
body{overflow: hidden;}
*{font-family: 'Mukta', sans-serif; padding: 0px; margin:0px;}
.container{width: 1150px; max-width: 100%; margin: 0 auto;}
header{background: var(--darkblack); padding: 0 0 0 95px;}
.col-4{width: 25%; float: left;}
.col-8{width: 75%; float: left;}
.clearfix{clear: both;}
.logo{color: var(--white);font-weight:100; padding: 20px 0px;}
.logo span{color: var(--yellow); font-weight: bold;}
.sidebar{width:95px;height:100vh; background: var(--darkblack);
    float: left; position: relative;}
.c8{
	padding: 20px 0px;
	background: var(--lightblack);
	height: 53px;
}
.c8 p:nth-child(1){
	margin-left:30%;
}
.p1{
	font-family: 'Roboto', sans-serif; 
	letter-spacing: 3px; 
	text-transform: uppercase;
	font-size: 11px; 
	color: var(--gray); 
	margin-top: 20px; 
	position: relative; 
	display: inline-block;
	margin-left: 50px;
	float: left;
}

.p1 a{color: var(--white); text-decoration: none;}
.main-box{width:1271px;float: left;}
.content{width: 380px; float: left; background: var(--darkblack); height:100vh;
border: 1px solid rgba(255, 255, 255, 0.03);}
.image-box{width: 889px; float: left;}
.p1:after{
	content: '';
	width: 15px;
	height: 2px;
	top: 9px;
	background:var(--red);
	position: absolute;
	left:-30px;
}

.nav:after{
	content: '';
	width: 50px;
	height:1px;
	top: 47px;
	background:var(--red);
	position: absolute;
	left:-24px;
}
.nav{
	float: left;
	height: 53px;
    padding: 20px 40px 20px 60px;
    background: var(--darkblack);
    margin-top: -20px;
    font-size: 11px;
    letter-spacing: 2px;
    color: var(--gray);
    margin-left: 101px;
    text-transform: uppercase;
    cursor: pointer;
    position: relative;
}
.menu{
	    position: relative;
    margin-top: 10px;
    width: 39px;
}
.menu span{transition:1s;}
.menu span:nth-child(1){
	width: 35px;
	height: 2px;
	background: var(--red);
	position: absolute;
}
.menu span:nth-child(2){
	width: 20px;
	height: 2px;
	background: var(--red);
	position: absolute;
	top: 10px;
}
.menu span:nth-child(3){
	width: 0px;
	height: 2px;
	background: var(--red);
	position: absolute;
	top: 20px;
}
.menu span:nth-child(4){
	position: absolute;
	top: 30px;
}
.nav:hover span:nth-child(3){
	width: 35px;
	transition: width 1s;
}
.nav:hover span:nth-child(2){
	width: 35px!important;
	transition: width 1s;
}
.image-box img{width: 160%;}
.p2{
	transform: rotateZ(270deg);
	color: var(--gray);
	letter-spacing: 2px;
	font-size: 14px;
	position: absolute;
	width: 210px;
	left: -45px;
    top: 130px;
    filter: blur(0.1px);
}
.p2:after{
	width: 150px;
	height: 30px;
	content: '';
	position: absolute;
	background: var(--lightblack);
	top: -3px;
    left: 92px;
    z-index: -1;
}
.social{
	text-align: center;
	margin-top: 270px;
}
.sicon{
	color: var(--gray);
	width: 20px;
	height: 20px;
	display: block!important;
    padding: 9px;
    border: 1px solid rgba(255, 255, 255, 0.03);
    margin: 0 auto;
}
.sicon:hover{
	background: #99999924;
	transition:1s;
}
.p3{
	transform: rotateZ(270deg);
    color: var(--gray);
    letter-spacing: 2px;
    font-size: 14px;
    position: absolute;
    width: 95px;
    left: 0px;
    bottom: 140px;
    filter: blur(0.1px);
}
.p3:after{
	width: 10px;
	height: 1px;
	content: '';
	position: absolute;
	background: var(--red);
	top: 11px;
    left: 5px;
    z-index: -1;
}
.p3:before{
	width: 10px;
	height: 1px;
	content: '';
	position: absolute;
	background: var(--red);
	top: 11px;
    left: 5px;
    z-index: -1;
    transform: rotateZ(270deg);
}
.head{
	font-size: 59px;
    line-height: 65px;
    color: white;
    margin-left: 213px;
    margin-top: 150px;
    position: absolute;
    text-transform: uppercase;
}
.head span{
	color: var(--yellow);
}

.head-1{
	font-size: 59px;
    line-height: 65px;
    color: white;
    margin-left: 213px;
    margin-top: 150px;
    position: absolute;
    display: none;
    text-transform: uppercase;
}
.head-1 span{
	color: var(--red);
}
.no{
	 position: absolute;
    z-index: 99999;
    top: 45%;
    right: 23px;
    color: var(--gray);
}
.no span{
	display: block;
	margin-top: 10px;
	font-size: 12px;

}
.active{
	font-size: 16px!important;
	font-weight: bold;
	color: var(--white);

}

.button{
	position: absolute;
    z-index: 99999;
    bottom:20px;
    right: 23px;
    color: var(--red);
}
.button a{
	background: var(--yellow);
	padding: 25px 40px;
	color: var(--blue);
	text-decoration: none;
	text-transform: uppercase;
	font-size: 12px;
}
.button a:hover{
	background: var(--red);
	color: var(--blue);
	transition:1s;
}
.sidenav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 999999;
  top: 93px;
  right: 0;
  background-color:var(--red);
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
}

.sidenav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 15px;
  text-transform: uppercase;
  color: var(--blue);
  display: block;
  transition: 0.3s;
}
.sidenav1 {
  height: 34%;
    width: 0;
    position: fixed;
    z-index: 999999;
    bottom: -10px;
    left: 96px;
    background-color: var(--red);
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
}

.sidenav1 a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 15px;
  text-transform: uppercase;
  color: var(--blue);
  display: block;
  transition: 0.3s;
}
.sidenav1 .closebtn1{
	 position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}
.search{
	width: 80%;
	padding: 5px;
	margin: 25px;
	background: url(../image/search.png), #fff;
	background-repeat: no-repeat;
    background-size: 25px;
    background-position: center right 10px;
}

.sidenav a:hover {
  color: var(--yellow);
}
.sidenav1 a:hover {
  color: var(--yellow);
}
